$darkmode: true;
$primary: #ffb49e;
$onPrimary: #5e1703;
$primaryContainer: #7d2d16;
$onPrimaryContainer: #ffdacf;
$secondary: #e7bdb2;
$onSecondary: #442a23;
$secondaryContainer: #5d3f37;
$onSecondaryContainer: #ffdacf;
$tertiary: #d9c58c;
$onTertiary: #3b2f04;
$tertiaryContainer: #534619;
$onTertiaryContainer: #f6e1a6;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #130f0e;
$background: #130f0e;
$onBackground: #ede0dd;
$surface: #201a18;
$onSurface: #ede0dd;
$surfaceVariant: #53433f;
$onSurfaceVariant: #d8c2bc;
$outline: #a08c87;
$shadow: #000000;
$inverseSurface: #ede0dd;
$inverseOnSurface: #362f2d;
$inversePrimary: #9b432b;
